
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: 'Segoe UI', sans-serif; min-height: 100vh; display: flex; }

.imagen-lado {
    width: 50%;
background-image: url("../imagenes/image.png");

    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    color: white; gap: 12px;
    position: sticky; top: 0; height: 100vh;
}



.formulario-lado {
    width: 50%; display: flex;
    align-items: flex-start; justify-content: center;
    background: #f5f0ff; padding: 40px 20px;
}
.caja-form {
    background: white; padding: 40px;
    border-radius: 12px; width: 400px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
h2 { margin-bottom: 8px; color: #1a0533; font-size: 24px; }
.etiqueta {
    font-size: 12px; background: #ede0ff; color: #4a1169;
    padding: 3px 10px; border-radius: 20px;
    display: inline-block; margin-bottom: 24px; font-weight: 600;
}
label { display: block; font-size: 14px; color: #555; margin-bottom: 5px; margin-top: 14px; }
input {
    width: 100%; padding: 10px 12px;
    border: 1.5px solid #ddd; border-radius: 8px; font-size: 15px;
}
input:focus { outline: none; border-color: #7d3cad; }
input.error { border-color: #e74c3c; }
.msg-error { color: #e74c3c; font-size: 12px; margin-top: 4px; }
button {
    width: 100%; margin-top: 22px; padding: 12px;
    background: #4a1169; color: white; border: none;
    border-radius: 8px; font-size: 16px; cursor: pointer;
}
button:hover { background: #1a0533; }

.sesion-activa {
    padding: 14px; background: #ede0ff;
    border-radius: 8px; border-left: 4px solid #7d3cad;
    margin-bottom: 20px; font-size: 14px; color: #4a1169;
}

.datos-ok h3 { color: #27ae60; margin-bottom: 10px; }
.datos-ok p { font-size: 14px; color: #333; margin-bottom: 4px; }

.btn-cerrar { background: #e74c3c; margin-top: 10px; }
.btn-cerrar:hover { background: #c0392b; }



table { width: 100%; border-collapse: collapse; font-size: 13px; }
th { background: #4a1169; color: white; padding: 8px 10px; text-align: left; }

tr:hover td { background: #f5f0ff; }
.chip {
    font-size: 11px; padding: 2px 8px;
    border-radius: 20px; background: #eaf7ea;
    color: #27ae60; font-weight: 600;
}
